* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
li, a, button {
    text-decoration: none;
    cursor: pointer;
}
header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    align-items: center;
    padding: 0 20px;
    background-color: #f7f7f7;
    z-index: 1000;
}
#header-img {
    width: 160px;
    padding: 10px;
    margin-left: 50px;
}
.container-nav-link {
    display: flex;
    justify-content: flex-end;
    font-size: 1.4rem;
    list-style: none;
    margin-right: 50px;
}
.nav-link {
    color: #93193d;
    font-weight: lighter;
    margin-right: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container-nav-link li a:hover {
    border-bottom: 1px solid black;
}

.form {
    margin-top: 100px;
    width: 100%;
    text-align: center;
    padding:  40px 10px; 
}
#title {
    padding: 50px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4rem;
    text-align: center;
    font-weight: lighter;

}
#email {
    margin-top: 50px;
    font-size: 1.4rem;
    padding: 10px;
}
#submit {
    width: 100px;
    height: 40px;
    border: none;
    padding: 10px;
    border-radius: 50px;
}
.join {
    font-family: Verdana, serif;
    padding: 10px;
    font-size: 1.2rem;
    font-style: italic;
}
.container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: left;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #f27e20;
    padding: 20px 50px;
    border-radius: 5px;
    color: white;
}
.container .titulo-benefits {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 4px;

}
.container h2 {
    font-size: 2rem;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    
}
.container p {
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

#link2 {
    margin-top: 100px;
    text-align: center;
    padding: 100px;
}

#link3 {
    width: 100%;
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    padding: 50px;
}
.product {
    width: 200px;
    height: auto;
    margin:  0 auto;
    background-color: #f27e20;
    border-radius: 20px;
}
.level {
    font-size: 1.8rem;
    padding: 20px;
}
.product h2 {
    font-size: 2.4rem;
    margin-top: 15px;
}
#link3 li {
    list-style: none;
}
.pack-line {
    padding: 20px;
    font-size: 1.2rem;
    font-style: oblique;
}
.btn {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    box-shadow: 2px 2px;
    border-radius: 40px;
    font-family: Verdana;
    font-weight: lighter;
    background-color: white;
    color: #93193d;
}
.btn:hover {
    cursor: pointer;
    background-color: lightblue;
    color: black;
}
footer {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background-color: #f7f7f7;
    color: black;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
footer a {
    color: black;
}
.footer-right {
    display: flex;
    justify-content: ;
    list-style: none;
    padding: 20px;
}
.footer-left {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 20px;
    font-style: italic;
}
.footer-right li {
    padding: 0 20px;
    font-size: 1.4rem;
}
@media (max-width: 320px) {
    #pricing {
      flex-direction: row;
    }
    .product {
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }
