* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    height: 100vh;
}
li, a, button {
    text-decoration: none;
    cursor: pointer;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.nav-link {
    list-style: none;
}
.nav-link li {
    display: inline-block;
    padding: 0 20px;
    margin: 0 10px;
    font-size: 1.6rem;
}
.nav-link li a{
    color: lightslategray;
    font-weight: bold;
}
.nav-link li a:hover {
    color: orangered;
}
.title {
    text-align: center;

}
#title, #form {
    padding: 0 10px;
    font-family: fantasy;
    font-size: 2.4rem;
}
#form {
    padding:  0 10px;
}
#email {
    font-size: 1.4rem;
    padding: 10px;
}
#submit {
    width: 100px;
    height: 40px;
    border: none;
    padding: 10px;
    border-radius: 50px;
}
.join {
    font-family: Verdana, serif;
    padding: 10px;
    font-size: 1.2rem;
    font-style: italic;
}
#features {
    width: 100%;
    height: auto;
    padding: 20px 50px;
}
.grid {
    width: 70%;
    margin: 0 auto;
    padding: 40px 0;
}
.desc h2 {
    font-size: 2.4rem;
    font-family: fantasy;
}
.desc p {
    font-size: 1.4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#link2 {
text-align: center;
}

#link3 {
    display: grid;
}